/* ************************************************ */
/* ? ******************* root ********************* */
/* ************************************************ */

:root {
   /* ### Primary */

   --Desaturated-Red: hsl(0, 36%, 70%);
   --Soft-Red: hsl(0, 93%, 68%);
   /* ### Neutral */
   --Dark-Grayish-Red: hsl(0, 6%, 24%);

   /* ### Gradients */
   --Linear-1-135deg-from: hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
   --Linear-135deg-from: hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

   font-size: 16px;

   font-family: "Josefin Sans", sans-serif;
}

*,
*::before,
*::after {
   box-sizing: content-box;
}

/* ************************************************ */
/* ? ******************* body ********************* */
/* ************************************************ */
html,
body {
   overflow-x: hidden;
   height: 120vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
}

/* ************************************************ */
/* ? ******************* main ********************* */
/* ************************************************ */
main {
   width: 100%;
   min-width: 375px;
   height: 95%;
   max-height: 900px;
   display: grid;
   grid-template-rows: 10% 25% 65%;
   grid-template-columns: 100%;
}

.error {
   display: none;
}

.section {
   width: 100%;
   height: 100%;
}

/* ************************************************ */
/* ? ****************** header ******************** */
/* ************************************************ */

.header {
   grid-row-start: 1;
   grid-row-end: 2;
   display: flex;
   align-items: center;
   padding-left: 2rem;
   width: calc(100% - 2rem);
}

.logo {
   height: 25%;
   min-height: 25px;
   width: 30%;
   min-width: 110px;
   background-image: url("./images/logo.svg");
   background-repeat: no-repeat;
   background-size: contain;
   background-position: center;
}

/* ************************************************ */
/* ? ****************** image ******************** */
/* ************************************************ */

.image {
   grid-row-start: 2;
   grid-row-end: 3;
   background-image: url("./images/hero-mobile.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

/* ************************************************ */
/* ? ***************** contents ******************* */
/* ************************************************ */
.contents {
   grid-row-start: 3;
   grid-row-end: 4;
   padding: 2rem 2rem;
   display: flex;
   flex-direction: column;
   height: calc(100% - 4rem);
   width: calc(100% - 4rem);
   justify-content: center;
   align-items: center;
}

.contents h1,
.contents p {
   margin: 0;
   padding: 0;
}

/* ************************************************ */
/* ? ******************* Text ********************* */
/* ************************************************ */
.text {
   height: calc(60% - 3rem);
   width: 100%;
   color: var(--Desaturated-Red);
   text-align: center;
}

.text h1 {
   padding-top: 0;
   letter-spacing: 0.7rem;
   font-size: 3.3rem;
   line-height: 3.2rem;
   font-weight: 300;
   text-transform: uppercase;
}

.text span {
   color: var(--Dark-Grayish-Red);
   font-weight: 600;
}

.text p {
   line-height: 1.5rem;
   padding-top: 1rem;
}

/* ************************************************ */
/* ? ******************* Form ********************* */
/* ************************************************ */

.form {
   padding-top: 3rem;
   height: calc(40% - 3rem);
   width: 100%;
}
form {
   position: relative;
}

form div {
   position: absolute;
   right: 5.5rem;
   top: 30%;
   width: 20px;
   height: 20px;
   background-image: url("./images/icon-error.svg");
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
}

.form input[type="text"] {
   width: 95%;
   height: 3rem;
   border-radius: 2rem;
   border: 2px solid var(--Desaturated-Red);
}

input::placeholder {
   color: var(--Desaturated-Red);
   padding-left: 0.5 rem;
}
input:focus {
   border: none;
   outline: none;
}

button {
   position: absolute;
   right: 0.1rem;
   width: 4rem;
   height: 3.2rem;
   border: none;
   border-radius: 2rem;
   background: linear-gradient(
      135deg,
      hsl(0, 80%, 86%) 0%,
      hsl(0, 74%, 74%) 41%
   );
}

button:hover {
   cursor: pointer;

   background: var(--Desaturated-Red);
   box-shadow: 2px 0 9px hsla(0, 6%, 24%, 0.4);
}

.form p {
   color: var(--Desaturated-Red);
   font-size: 0.8rem;
   padding-left: 1rem;
   padding-top: 0.5rem;
}

/* ************************************************ */
/* ? ****************** desktop ******************* */
/* ************************************************ */

@media screen and (min-width: 765px) {
   html,
   body {
      width: 100vw;
      height: 100vh;
   }
   main {
      width: 100%;
      height: 100%;
      min-height: 730px;
      grid-template-rows: 25% 75%;
      grid-template-columns: 60% 40%;
      background-image: url("./images/bg-pattern-desktop.svg");
      background-repeat: no-repeat;
      background-size: cover;
   }

   .header {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 1;
      grid-column-end: 2;
   }
   .contents {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;
      padding-left: 15%;
      width: 55%;
   }

   .text {
      text-align: left;
   }

   .image {
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;

      background-image: url("./images/hero-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}
